<%= render 'nav' %>
<section class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3" id="circle">
        <img src="/assets/kathanddan.png" class="img-responsive" atl="kathanddan" >
      </div>
      <div class="col-md-12">
          <div class="text-center">
            <h1 class="title">Daniel Cardenas</h1>
            <h2 class="skills">Full Stack Developer &amp; Designer</h2>

            <span class="icon">
              <span class="page-scroll"><a href="#work">
                <i class="fa fa-arrow-circle-down fa-5x"></i></a>
              </span>
            </span>

          </div>
        </div>
      </div>
    </div><!-- row -->
  </div>
</section>

  <!--My Work -->
<section class="my-work">
  <div class="container" id="work">
    <div class="text-center">
      <h3 class="title">My Work</h3>
      <br>
    </div>
    <div class="row" id="image_row">
      <div class="col-md-4">
        <div class="portfolio-item">
          <%= image_tag('tipple_thumbnail.png', :class => "img-thumbnail") %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="portfolio-item">
          <%= image_tag('tipple_thumbnail.png', :class => "img-thumbnail") %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="portfolio-item">
          <%= image_tag('tipple_thumbnail.png', :class => "img-thumbnail") %>
        </div>
      </div>
    </div><!-- row -->
  
    <div class="margin mobile_only"></div>

    <div class="row" id="image_row">
      <div class="col-md-4">
        <div class="portfolio-item">
          <%= image_tag('tipple_thumbnail.png', :class => "img-thumbnail") %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="portfolio-item">
          <%= image_tag('tipple_thumbnail.png', :class => "img-thumbnail") %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="portfolio-item">
          <%= image_tag('tipple_thumbnail.png', :class => "img-thumbnail") %>
        </div>
      </div>
    </div><!-- row -->
  </div><!-- end of My Work -->
</section>

<!-- Contact -->
<section class="contact">
  <div class="container" id="my-contact">
    <div class="text-center">
      <h1 class="title">Contact me</h1>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="text-center">
          <h3>Shoot an me email</h3>
          <ul class="socials list-inline">
            <li>
              <a href="#" class="btn-social"><i class="fa fa-envelope-o"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <h3>Keep in touch</h3>
          <ul class="socials list-inline">
            <li>
              <a href="#" class="btn-social"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#" class="btn-social"><i class="fa fa-instagram"></i></a>
            </li>
          </ul>
          <p>© 2015 Daniel Cardenas</p>
        </div>
      </div>
    </div><!-- row ends -->
  </div>
</section>